:root {
  --main-color: #3b007e;
  --text-color: #555555;
  --main-font:
  'Inter';
  --header-font: 'Alegreya Sans';
  --table-font:
  'Source Sans Pro';
}

body {
	margin: 0em auto 3em;
	padding: 1em;
	padding-top: 0em;
	line-height: 1.5;
	color: var(--text-color);
	font-family: var(--main-font), sans-serif;
	font-size: 12pt;
	-webkit-font-smoothing: subpixel-antialiased;
	text-decoration-skip-ink: none;
}

h1, h2, h3, h4, h5, .page-title, .page-subtitle {
  font-family: var(--header-font), serif;
}

h1 {
  font-size: 3em;
}

h2 {
  scroll-margin-top: 4em;
}

h2 a {
  font-weight: 600;
  color: var(--main-color);
}

h2 a:hover {
  text-decoration: underline;
}

h3 {
  margin: .5em 0px;
  scroll-margin-top: 4em;
}

a {
  color: var(--main-color);
  font-weight: 600;
}

p {
  margin: 0px;
}

.site-title > a {
  font-family: var(--main-font), serif;
  font-size: 2em;
  font-weight: 400 !important;
  color: var(--main-color);
  margin: 0px;
}

.subtitle {
  color: slategray;
}

hr {
  border-top: 2px solid var(--main-color);
  margin: au;
  width: 30em;
  align-items: center;
}

nav {
  margin: 0;
  overflow: visible;
  background-color: white;
  z-index: 100000;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 110%;
}
nav ul li .navbar-link {
  color: var(--main-color);
  font-weight: 600;
  display: block;
  line-height: 3em;
  padding: 0em 1em;
  text-decoration: none;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

nav.top-nav {
  border-bottom: 6px solid var(--main-color);
  position: sticky;
  top: 0;
  padding-top: .5em;
}

nav.side-nav {
  position: sticky;
  top: 6em;
}

nav[data-toggle=toc] .nav>.active:focus>a, nav[data-toggle=toc] .nav>.active:hover>a, nav[data-toggle=toc] .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: var(--main-color);
  background-color: transparent;
  border-left: 4px solid var(--main-color);
}

#search {
  width: 15em;
  padding: .5em;
  border-radius: 0px;
  color: var(--main-color);
  font-size: 14px;
}

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

.tt-menu {
  background-color: white;
  border: 2px solid var(--main-color);
  border-top: none;
  padding: .5em;
  width: 100%;
}

.tt-selectable {
  z-index: 100000;
}

.tt-selectable > a:hover {
  color: var(--main-color);
}

.tt-selectable:hover {
  background-color: #d1d3d4;
  
}

.main-container {
  max-width: 100% !important;
  padding: 0px !important;
}

.main-flex {
  display: flex;
  flex-direction: row;
}

nav#toc > ul {
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
}

.main-content {
  float: left;
}

.page-title {
  font-size: 3em;
  font-weight: 600;
  color: black;
  margin-top: .25em;
}

.page-subtitle {
  font-size: 1.5em;
  font-style: italic;
}

@media (min-width: 992px)
.col-md-9 {
  width:85%;
  float:right;
}

.gt_col_headings {
  border: 0px;
  border-bottom: 5px solid #d1d3d4;
}

.gt_col_heading, .gt_column_spanner {
  background-color: var(--main-color) !important;
  color: white !important;
}

.gt_column_spanner_outer {
  padding: 0px !important;
}

.gt_group_heading, .dtrg-group.dtrg-start.dtrg-level-0 > td {
  background-color: #d1d3d4 !important;
  border-bottom: 2px solid #555555!important;
  line-height: 1em;
  padding-top: .25em !important;
  font-size: 85% !important;
  color: #555555;
}

table {
  float: left;
  line-height: 1.25em;
}

thead > tr > th.sorting {
  border-bottom: 4px solid slategray;
}

thead > tr > th {
  padding: .25em !important;
}


th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: var(--main-color);
  color: white;
}

tr a {
  font-weight: 600;
  color: var(--main-color);
}

tr a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

table.dataTable tbody th, table.dataTable tbody td,
table.dataTable thead th, table.dataTable thead td {
    padding: 5px;
}

table.dataTable thead .sorting {
  background-image: none !important;
}

.paginate_button.current {
  background: none !important;
  border: none !important;
  border-bottom: 2px solid var(--main-color) !important;
  border-radius: 0px !important;
}

.paginate_button {
  background: none !important;
  border: none !important;
  border-radius: 0px !important;
}

.paginate_button:hover {
  background: none !important;
  color: var(--main-color) !important;
  border: none !important;
  border-bottom: 2px dotted var(--main-color) !important;
  border-radius: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: var(--main-color) !important;
}

.tooltip{
  position:relative;
}

.tooltiptext{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:red;
  padding:3px;
  color:red;
  top:20px;
  left:20px;
}

.tooltip:hover span.tooltiptext{
  display:block;
}

.gt-title {
  padding: .25em !important;
}
.gt-row {
  padding: 2px !important;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  padding: .5em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #d1d3d4 !important;
  border: none !important;
}

.tabcontent {
  float: left;
  padding: 1em;
  border: 0px solid #ccc;
  border-top: none;
  width: 100%;
}

.home-grid-wrapper {
  display: flex;
  column-gap: 10px;
}

.home-grid-tournaments {
  flex: 2;
}

.home-grid-teams {
  flex: 3;
}

@media (max-width: 700px) {
  .home-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

div.row div.col-sm-4 {
  width: 20em;
}

.tocify {
  border: none;
  border-radius: 0px;
  font-size: 135%;
}

.tocify .tocify-header .active {
  background-color: var(--main-color);
}

.tocify .tocify-header .active {
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.toc-content {
  border-left: 2px dotted var(--main-color);
}


.record-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 4em;
  border-top: 2px solid var(--text-color);
  padding: 1em;
  margin-bottom: 1em;
}

.circuit-flex {
  background-color: rgba(200,200,200,.2);
  padding: 2em;
}
.circuit-flex > p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 2em;
}

.circuit-flex > p > a {
  border: 2px solid slategray;
  padding: .5em;
}

.about-content {
  width: 80%;
  padding: 2em;
}

.naqt-attribution {
  font-style: italic;
}


